@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root {
    --main: #5595d1;
    --box_shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
    font-family: 'Roboto', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    transition: 0.2s all linear;
}

*::selection {
    background: var(--main);
    color: #fff;
}

html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-thumb {
    background: var(--main);
}

html::-webkit-scrollbar-track {
    background: #000;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: var(--main) !important;
    padding: 0.8rem 1.6rem;
    font-size: 1.8rem;
    border-radius: 10px;
    border: none;
}

.btn-close {
    font-size: 1.8rem;
}

.modal-content {
    padding: 0.5rem;
    border-radius: 10px;
}

.list-group .list-group-item {
    font-size: 1.8rem;
    line-height: 2;
}

.highlighted-text {
    color: var(--main);
}

.heading {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 2rem;
}

.heading span {
    color: var(--main);
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

section {
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Navbar - Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 9%;
}

.header .head-navbar a {
    color: #fff;
    font-size: 1.8rem;
    margin-left: 2rem;
}

.header .head-navbar a:hover {
    color: var(--main);
}

.logo img {
    height: 5rem;
}

#menuBars {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

/* Navbar header */


/* Timeline */
.timeline {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 10em;
}

.timeline .heading {
    text-align: center;
    padding: 10px 0;
    font-size: 3.5rem;
}

.heading-text {
    text-align: center;
    font-size: 1.8rem;
}

#timeline {
    font-size: 1.8rem;
    width: 90%;
    margin: 30px auto;
    line-height: 1.5em;
    position: relative;
    transition: all 0.3s;
}

#timeline,
#timeline *,
#timeline *::before,
#timeline *::after {
    box-sizing: border-box;
}

#timeline::before {
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    background: rgb(85, 149, 209) !important;
    background: linear-gradient(337deg, rgba(85, 149, 209, 1) 0%, rgba(139, 198, 252, 1) 50%, rgba(85, 149, 209, 1) 99%) !important;
}

#timeline .timeline-item {
    margin-bottom: 30px;
    position: relative;
}

#timeline .timeline-item .timeline-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -23px;
    border-radius: 50%;
    background: rgb(85, 149, 209) !important;
    background: linear-gradient(337deg, rgba(85, 149, 209, 1) 0%, rgba(139, 198, 252, 1) 50%, rgba(85, 149, 209, 1) 99%) !important;
}

#timeline .timeline-item .timeline-icon img {
    width: 50%;
}

#timeline .timeline-item .timeline-content {
    width: 45%;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: var(--box_shadow);
    background-color: #fff;
    transition: all 0.3s;
}

#timeline .timeline-item .timeline-content h2 {
    padding: 15px;
    color: #fff;
    margin: -20px -20px 20px -20px;
    font-weight: 500;
    border-radius: 10px 10px 0 0;
    background: rgb(85, 149, 209) !important;
    background: linear-gradient(337deg, rgba(85, 149, 209, 1) 0%, rgba(139, 198, 252, 1) 50%, rgba(85, 149, 209, 1) 99%) !important;
}

#timeline .timeline-item .timeline-content::before {
    content: "";
    position: absolute;
    top: 20px;
    right: -5px;
    width: 14px;
    height: 14px;
    display: block;
    border-radius: 3px;
    transform: rotate(45deg);
    background-color: var(--main);
}


#timeline .timeline-item .timeline-content.right {
    float: right;
}

#timeline .timeline-item .timeline-content.right::before {
    left: -5px;
    right: inherit;
}

#timeline .timeline-item::after,
#timeline .timeline-item::before {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

/* Timeline */

/* Eligibility */
.eligibility .container .row ol li,
.points .container .row ol li {
    font-size: 1.8rem;
}

/* Eligibility */

/* faqs */
.faqs .container p,
.faqs .container .accordion .accordion-body ul li,
.faqs .container .accordion button {
    font-size: 1.8rem;
}
/* faqs */


/* Media Query */
@media (max-width: 991px) {
    html {
        font-size: 35%;
    }

    .header {
        padding: 1.5rem 2rem;
    }
}

@media (max-width: 768px) {
    #menuBars {
        display: initial;
    }

    .header .head-navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: 0.2rem solid #222;
        background: #000;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .head-navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .head-navbar a {
        display: flex;
        background: #333;
        font-size: 2rem;
        margin: 1.3rem;
        padding: 1.3rem;
        border-radius: 0.5rem;
    }

    .fa-times {
        transform: rotate(90deg);
    }

    .about .row {
        margin-bottom: 3.5rem;
    }

    .about .row .content h3 {
        font-size: 1.8rem;
    }

    #timeline {
        margin: 30px;
        padding: 0;
    }

    #timeline::before {
        left: 0;
    }

    #timeline .timeline-item .timeline-icon {
        left: 0;
    }

    #timeline .timeline-item .timeline-content {
        width: 85%;
        float: right;
    }

    #timeline .timeline-item .timeline-content::before {
        left: -5px;
        right: inherit;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}